<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="https://allopathie.github.io/musictherapy/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/musictherapy">Home</a></li>
<li><a href="/">About</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:s020198@students.lmsd.org">email</a></li>
   <li><a href="https://github.com/allopathie">github.com/allopathie</a></li>
   </ul>
  </footer>
  </body>

</html>
